img.icon(src="../../../static/icon/icon.png")
.disk-full-title= title
.required-space
  .title= requiredSpace
  .value= required

.available-space
  .title= diskName
  .value= free

button#close-popup-button
  = close
