img#icon(src="static/images/airspace-icon.png")

iframe.oauth(nwdisable, nwfaketop)
.waiting.before
  .spinner-holder
  .message.before= beforeMessage_label
  .message.after= afterMessage_label
  .message.logout= logoutMessage_label
.no-internet
  h2= noInternet_label
  .instruction= instruction_label
