.first-run-background
iframe.oauth.background(nwdisable, nwfaketop)
.waiting.before
  .leap-logo-box
    .leap-logo
  .spinner-holder
  .message.before= beforeMessage_label
  .message.after= afterMessage_label
  .message.logout= logoutMessage_label
.no-internet.background
  h2= noInternet_label
  .icon
  .instruction= instruction_label
