.instructions= instructions

form(role="form")
  each option in options
    div.checkbox
      label
        input(class=option[2], data-option=option[0], type="checkbox")
        span= option[0]

  input(type="submit", value=save_label)


