.instructions= instructions

form(role="form")
  each option in options
    div.checkbox
      label
        input(class=option[0], type="checkbox")
        span= option[2]

  #submit
    input(type="submit", value=save_label)
    .saved= saved_label
