li.tile(draggable=true)
  img.tile-bg(src=app.tilePath)
  img.icon(src=app.iconPath)
  i.update-notification.icon-circle-arrow-up
  .message
    h3.waiting= waiting_label
    h3.connecting= connecting_label
    h3.downloading= downloading_label
    h3.installing= installing_label
    h3.launching= launching_label
  .install-overlay= clickToInstall_label
  .cancel
  .progress
    .bar
