li.tile(draggable=true, id=app_slug, class=(store_app ? ' store ' : ''))
  img.tile-bg(src=app.tilePath)
  img.icon(src=app.iconPath)
  .ribbon-container(style=('visibility: ' + (ribbon_text ? 'visible ' : 'hidden ')))
    span
      = ribbon_text
  i.update-notification.icon-circle-arrow-up
  .hover-overlay-wrapper
    .hover-overlay
      h3.name= app.name
      .description
        = short_description
  .install-overlay
    .notyetinstalled= clickToInstall_label
    .waiting= waiting_label
    .connecting= connecting_label
    .installing= installing_label
    .moving= moving_label
    .launching= launching_label
  .cancel
  .progress
    .bar
