extends ../modal/modal

append header
  img.icon(src=app.iconPath)
  h1.name= app.name

append content
  table.details
    tr
      td.label= version_label
      td.value= app.version
    tr
      td.label= releaseDate_label
      td.value= app.releaseDate
    if app.changelog
      tr
        td.label= changelog_label
        td.value
          !{app.changelog.replace(/\n/g, '<br/>')}
    if app.description
      tr
        td.label= description_label
        td.value
          !{app.description.replace(/\n/g, '<br/>')}

append footer
  .button.cancel= cancel_label
  .button.confirm.install= install_label
  .button.confirm.upgrade= upgrade_label
  .button.launch= launch_label
