extends ../modal/modal

append header
  img.icon(src=app.iconPath)
  h1.name #{app.name}

append content
  table.details
    tr
      td.label Version
      td.value #{app.version}
    tr
      td.label Release Date
      td.value #{app.releaseDate}
    if app.changelog
      tr
        td.label What's New
        td.value
          !{app.changelog.replace(/\n/g, '<br/>')}
    if app.description
      tr
        td.label Description
        td.value
          !{app.description.replace(/\n/g, '<br/>')}

append footer
  .button.cancel Cancel
  .button.confirm.install Install #{app.name}
  .button.confirm.upgrade Update App
  .button.launch Launch App
