.modal
  .header
    img.icon(src=app.iconPath)
    h1.name #{app.name}
  .table-holder
    table.details
      tr
        td.label Version
        td.value #{app.version}
      tr
        td.label Release Date
        td.value #{app.releaseDate}
      if app.description
        tr
          td.label Description
          td.value
            !{app.description.replace(/\n/g, '<br/>')}
      else if app.changelog
        tr
          td.label What's New
          td.value
            !{app.changelog.replace(/\n/g, '<br/>')}
  .footer
    .button.cancel Cancel
    .button.confirm.install Install #{app.name}
    .button.confirm.upgrade Update #{app.name}
